# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Logs and databases
*.log
*.sqlite3

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/

# Python environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker files
*.dockerignore
Dockerfile

# Others
*.pydevproject
.project
.idea/
.env
notes.py
key.json